# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore database files
db.sqlite3

# Ignore media files
.vscode/

# Json files
*.json

# Ignore celerybeat-schedule file
*.bak
*.dat
*.dir